<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\css\add-book.css" type="text/css" />
  </head>
  <body>
    <div id="body-container" class="body-container">
      <h1 class="header">Add to the collection</h1>
      <p class="info">
        Insert all the necessary information to add a new book to the list.
      </p>
      <div class="form-container">
        <div class="info-container">
          <form action="/add-book" method="POST">
            <label id="info-titles" for="title">Title</label><br />
            <input type="text" id="title" name="title" />
            <br />
            <label id="info-titles" for="isbn"
              >ISBN code(To find this code go this
              <a href="https://www.bookfinder.com/?">LINK</a>)</label
            ><br />
            <input type="text" id="isbn" name="isbn" />
            <br />
            <label id="info-titles" for="date">Date when book was read</label
            ><br />
            <input type="text" id="date" name="date" />
            <br />
            <label id="info-titles" for="rating">Your rating</label><br />
            <select name="rating" id="rating">
              <% for(let i = 0; i < 11 ; i++){ %>
              <option value="<%= i %>"><%= i %></option>
              <% } %>
            </select>
            <br />
            <br />
            <label id="info-titles" for="note"
              >Give a short summary on what the books was about (Limit: 255
              characters)</label
            >
            <br />
            <textarea type="text" id="note" name="note" maxlength="255">
            </textarea>
            <br />
            <label id="info-titles" for="link">Link</label><br />
            <input type="text" id="link" name="link" />
            <br />
            <input class="submit-btn" type="submit" value="Add book" />
          </form>
        </div>
      </div>
    </div>
    <%- include ('partials/footer.ejs') %>
  </body>
</html>

<!-- This would of been used in place of the add/update a book page. -->
<!-- With the modal button and screen -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="add-book.css" type="text/css" />
  </head>
  <body>
    <div id="overlay" class="overlay hide"></div>
    <div id="body-container" class="body-container">
      <h1>Add to the collection</h1>
      <p>Insert all the necessary information to add a new book to the list.</p>
      <div class="form-container">
        <button class="isbn-btn" onclick="openModal()"></button>

        <div class="info-container">
          <form action="/add" method="POST">
            <label id="info-titles" for="title">Title</label><br />
            <input type="text" id="title" name="title" />
            <br />
            <label id="info-titles" for="isbn"
              >ISBN code(To find this code go this
              <a href="https://www.bookfinder.com/?">LINK</a>)</label
            ><br />
            <input type="text" id="isbn" name="isbn" />
            <br />
            <label id="info-titles" for="date">Date when book was read</label
            ><br />
            <input type="text" id="date" name="date" />
            <br />
            <label id="info-titles" for="rating">Your rating</label><br />
            <select name="rating" id="rating">
              <% for(let i = 0; i < 11 ; i++){ %>
                <option value="<%= i %>"><%= i %></option>
                <% } %>
              </select>
              <br />
              <label id="info-titles" for="note"
                >Give a short summary on what the books was about (Limit: 255
                characters)</label
              >
              <br />
              <textarea type="text" id="note" name="note"> </textarea>
              <br />
              <label id="info-titles" for="link">Link</label><br />
              <input type="text" id="link" name="link" />
              <br />
              <input type="submit" value="Add book" />
            </form>
          </div>
        </div>
      </div>
  
      <div id="modal-container" class="modal-container hide">
        <div id="btn">
          <button class="close-btn" onclick="closeModal()"><h2>X</h2></button>
        </div>
  
        <h1>Cover Lookup</h1>
        <form>
          <label>ISBN: </label>
          <input placeholder="Enter isbn..." name="isbn" />
          <button id="submit-btn" value="isbn">Submit</button>
        </form>
        <h5>
          To find a books isbn number
          <a href="https://www.bookfinder.com/?" target="_blank">click here</a>
        </h5>
      </div>
      <script type="text/javascript">
        let mc = document.getElementById("modal-container");
        let bc = document.getElementById("body-container");
  
        console.log(btn);
        const openModal = function () {
          mc.classList.toggle("hide");
          overlay.classList.toggle("hide");
          bc.classList.toggle("blur");
        };
        const closeModal = function () {
          mc.classList.toggle("hide");
          overlay.classList.toggle("hide");
          bc.classList.toggle("blur");
        };
        console.log(getElementById("modal-container"));
        const getCoverURL = function (isbn) {
          return `https://covers.openlibrary.org/b/isbn/${isbn}-L.jpg`;
        };
      </script>
    </body>
  </html>
   -->
